<h1>{{pageTitle}}</h1>

{{>messages}}
{{! Verificar si hay productos en el carrito }}
{{#if products.length}}
  <div class='row'>
    <div class='container cart-purchase'>
      {{!-- Cart --}}
      <div class='col-8 cart float-start'>
        <h2>Productos en el carrito</h2>
        <hr />
        {{#each products}}
          <div>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>Precio: $ {{price}}</p>
            <p>Cantidad: {{quantity}} u.</p>
          </div>
          <hr />
        {{/each}}
      </div>
      {{!-- Purchase --}}
      <div class='col-4 purchase float-end'>
        <div>
          <form action="/v1/api/carts/{{cartId}}/purchase" method="post">
            <h3>Compra: <span class="fw-bold text-primary"> $ {{totalAmount}} </span></h3>
            <div class="float-end mt-3">
              <button class='btn btn-outline-success me-2' type="submit">Continuar compra</button>
              <button class='btn btn-outline-primary' href='/product'>Volver</button>     
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <p>No hay productos en el carrito</p>
{{/if}}

