<h1>{{pageTitle}}</h1>

{{>messages}}
{{! Verificar si hay productos en el carrito }}
{{#if products.length}}
  <div class='row'>
    <div class='container'>
      {{! Cart }}
      <div class='col-8 float-start border-end'>
        <h2>Productos disponibles</h2>
        <hr />
        {{#each products}}
          <div>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>Precio: $ {{price}}</p>
            <p>Cantidad: {{quantity}} u.</p>
            <form action="/v1/api/carts/{{@root/cartId}}/products/{{this.id}}" class="d-flex justify-content-end" method="post">
              <button type="submit" class='btn btn-outline-danger me-3' title='Eliminar este producto del carrito'>Eliminar</button>
            </form>
<!-- Agrega estos para verificar los valores -->
<p>Cart ID: {{@root/cartId}}</p>
<p>Product ID: {{this.id}}</p>          </div>
          <hr />
        {{/each}}
        {{#if productsNotProcessed.length}}
          <div class='text-danger'>
            <h2>Productos no disponibles</h2>
            <hr />
            {{#each productsNotProcessed}}
              <div>
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <p>Precio: $ {{price}}</p>
                <p>Cantidad: {{quantity}} u.</p>
                <form action="/v1/api/carts/{{@root/cartId}}/products/{{this.id}}" class="d-flex justify-content-end" method="post">
                  <button type="submit" class='btn btn-outline-danger me-3' title='Eliminar este producto del carrito'>Eliminar</button>
                </form>
                <!-- Agrega estos para verificar los valores -->
<p>Cart ID: {{@root/cartId}}</p>
<p>Product ID: {{this.id}}</p>
              </div>
              <hr />
            {{/each}}
          </div>
        {{/if}}
      </div>
      {{! Purchase }}
      <div class='col-4 float-end'>
        <div>
          <form action='/v1/api/carts/{{cartId}}/purchase' method='post'>
            <input type='hidden' name='totalAmount' value='{{totalAmount}}' />
            <h3>Total Carrito:
              <span class='fw-bold text-primary'> $ {{totalAmount}} </span></h3>
            <h3 class='mt-4'>A Abonar:
              <span class='fw-bold text-success'> $ {{totalToPay}} </span></h3>
            <div class='float-end mt-3'>
              <button
                class='btn btn-outline-success me-2'
                type='submit'
              >Comprar</button>
              <a class='btn btn-outline-primary' href='/product'>Volver</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{{else if productsNotProcessed.length}}
  <div class='col-8 float-start border-end text-danger'>
    <h2>Productos no disponibles</h2>
    <hr />
    {{#each productsNotProcessed}}
      <div>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <p>Precio: $ {{price}}</p>
        <p>Cantidad: {{quantity}} u.</p>
        <form action="/v1/api/carts/{{@root/cartId}}/products/{{this.id}}" class="d-flex justify-content-end" method="post">
           <button type="submit" class='btn btn-outline-danger me-3' title='Eliminar este producto del carrito'>Eliminar</button>
        </form>
        <!-- Agrega estos para verificar los valores -->
<p>Cart ID: {{@root/cartId}}</p>
<p>Product ID: {{this.id}}</p>
      </div>
      <hr />
    {{/each}}
  </div>
{{else}}
  <p>No hay productos en el carrito</p>
{{/if}}