<h1>{{pageTitle}}</h1>

{{>messages}}
{{! Verificar si hay productos en el carrito }}
{{#if products.length}}
  <div class='row'>
    <div class='container'>
      {{! Cart }}
      <div class='col-8 float-start'>
        <h2>Productos en el carrito</h2>
        <hr />
        {{#each products}}
          <div>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>Precio: $ {{price}}</p>
            <p>Cantidad: {{quantity}} u.</p>
          </div>
          <hr />
        {{/each}}
      </div>
      {{! Purchase }}
      <div class='col-4 float-end'>
        <div>
          <form action='/payment-intents' method='get'>
            <input type='hidden' name='totalAmount' value='{{totalAmount}}'>
            <h3>Compra:
              <span class='fw-bold text-primary'> $ {{totalAmount}} </span></h3>
            <div class='float-end mt-3'>
              <button
                class='btn btn-outline-success me-2'
                type='submit'
              >Comprar</button>
              <a class='btn btn-outline-primary' href='/product'>Volver</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <p>No hay productos en el carrito</p>
{{/if}}