<h1>{{pageTitle}}</h1>

{{>messages}}

<div class='row'>
    <div class="container">
        <div class="col">
            <p>Número de Orden: <span class="fw-bold">{{code}}</span> </p>
            <p>Fecha de compra: <span class="fw-bold">{{purchase_datetime}}</span> </p>
            <p>Monto abonado: <span class="fw-bold">{{amount}}</span> </p>
            <p>Comprador: <span class="fw-bold">{{purchaser}}</span> </p>
        </div>
    </div>
</div>
<hr />
