<div class='row'>
  <div class='container'>
    <div class='col-12'>
      {{#if user}}
        <p class='pb-3 fw-bold'>Bienvenido
          {{user.first_name}}
          {{user.last_name}}, tienes rol de
          {{user.role}}</p>
        <a href='/v1/api/sessions/logout'>
          <button class='btn btn-outline-danger float-end mb-3'>Cerrar sesión</button>
        </a>
      {{else}}
        <p class='pb-3 fw-bold'>Bienvenido usuario, aún no estás logueado, hazlo para poder realizar operaciones...</p>
      {{/if}}
    </div>
  </div>
</div>
{{>messages}}
<h1 class='text-center pb-3'>{{pageTitle}}</h1>
<div class='row'>
  <div class='container'>
    <div class='col'>
      {{#each products}}
        <div class='product'>
          <h2>{{title}}</h2>
          <p>{{description}}</p>
          <p>Precio: U$S {{price}}</p>
          <p>Categoría: {{category}}</p>
          

          {{! Opción 1: Botón para ver detalles del producto en una nueva página }}
          <a href='/v1/api/products/{{_id}}'>Ver detalles</a>
          
          {{! Opción 2: Agregar al carrito }}
          <form action='/v1/api/carts/{{../user.cart}}' method='post'>
            <input type='hidden' name='productId' value='{{_id}}' />

             {{!-- Selector de cantidad --}}
            <div class='counter'>
              <label for='quantity'>Cantidad:</label>
              <input type='number' name='quantity' id='quantity' value='1' min='1' />
            </div>
            {{!-- Botón --}}
            <input
              class='btn btn-primary mt-3'
              type='submit'
              value='Agregar al carrito'
            />
          </form>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<!-- Paginación -->
<div class='row'>
  <div class='container'>
    <div class='col'>
      <div class='pagination'>
        {{#if totalPages}}
          {{#if prevLink}}
            <div>
              <a class='btn btn-outline-primary me-4' href='{{prevLink}}'>Página
                Anterior</a>
            </div>
          {{/if}}
          {{#if nextLink}}
            <div>
              <a class='btn btn-outline-primary' href={{nextLink}}>Página
                Siguiente</a>
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>