<h1 class='text-center pb-3'>{{pageTitle}}</h1>

{{>messages}}

<div class='row'>
  <div class='container'>
    <div class='col'>
      {{! Verificar si hay un producto }}
      {{#if product}}
        <div>
          <h2>{{product.title}}</h2>
          <p>{{product.description}}</p>
          <p>Código: {{product.code}}</p>
          <p>Precio: U$S {{product.price}}</p>
          <p>Stock: {{product.stock}} u.</p>
          <p>Categoría: {{product.category}}</p>
          {{!-- {{#each product.thumbnails}} --}}
          <img
            src='{{product.thumbnails}}'
            alt='Image Product'
            width='200'
            height='200'
          />
          {{!-- {{/each}} --}}
          <p>Vendedor: {{product.owner}}</p>
        </div>
        <div>
          {{! Agregar al carrito }}
          <form action='/v1/api/carts/{{userCart}}' method='post'>
            <input type='hidden' name='productId' value='{{product._id}}' />

             {{!-- Selector de cantidad --}}
            <div class='counter'>
              <label for='quantity'>Cantidad:</label>
              <input type='number' name='quantity' id='quantity' value='1' min='1' />
            </div>
            {{!-- Botón --}}
            <input
              class='btn btn-primary mt-3'
              type='submit'
              value='Agregar al carrito'
            />
          </form>
          <a href='/product'>Volver a la lista de productos</a>
        </div>
      {{else}}
        <p>Upss!... Producto no encontrado</p>
      {{/if}}
    </div>
  </div>
</div>