<h1>{{view}}</h1>
<div class='row'>
  <div class='container'>
    <div class='col'>
      <div>
        <table>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Edad</th>
          </tr>
          <tr>
            <td>{{userSession.firstname}}</td>
            <td>{{userSession.lastname}}</td>
            <td>{{userSession.email}}</td>
            <td>{{userSession.age}}</td>
          </tr>
        </table>
      </div>
      <div>
        <a href='http://localhost:8080/api/sessions/logout'>
          <button>Cerrar sesion</button>
        </a>
      </div>
    </div>
  </div>
</div>