<h1 class='mb-3'>{{view}}</h1>

<div class='row'>
  <div class='container'>
    <div class='col'>
      {{! Mostrar contenido solo para usuarios con rol de administrador }}
      <div>
        {{#if isAdmin}}
          <h3>Panel de administración</h3>
          <!-- ... contenido específico para administradores -->
          <hr />
        {{/if}}
      </div>
      <div>
        <table class='text-center'>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Edad</th>
            <th>Rol</th>
          </tr>
          <tr>
            <td>{{userSession.first_name}}</td>
            <td>{{userSession.last_name}}</td>
            <td>{{userSession.email}}</td>
            <td>{{userSession.age}}</td>
            <td>{{userSession.role}}</td>
          </tr>
        </table>
      </div>
      <div>
        <a href='http://localhost:8080/api/sessions/logout'>
          <button>Cerrar sesion</button>
        </a>
      </div>
    </div>
  </div>
</div>